In [1]:
 
import sys
sys.path.insert(0, '/Users/keitabroadwater/Projects/keto_learn/eda')
import file_management as fm

In [2]:
# data

flight_file = '/Users/keitabroadwater/Data/MathStatsResamplingR/Edition3/Data/Data/FlightDelays.csv'

In [3]:
fm.read_csv_file(flight_file, 'pandas_df')

converting to pandas dataframe

,ID,Carrier,FlightNo,Destination,DepartTime,Day,Month,FlightLength,Delay,Delayed30
0,1,UA,403,DEN,4-8am,Fri,May,281,-1,No
1,2,UA,405,DEN,8-Noon,Fri,May,277,102,Yes
2,3,UA,409,DEN,4-8pm,Fri,May,279,4,No
3,4,UA,511,ORD,8-Noon,Fri,May,158,-2,No
4,5,UA,667,ORD,4-8am,Fri,May,143,-3,No
...,...,...,...,...,...,...,...,...,...,...
4024,4025,AA,2011,MIA,4-8pm,Tue,June,195,10,No
4025,4026,AA,2015,MIA,8-Noon,Tue,June,190,160,Yes
4026,4027,AA,2093,MIA,Noon-4pm,Tue,June,162,250,Yes
4027,4028,AA,2223,STL,4-8pm,Tue,June,168,16,No
4028,4029,AA,2255,MIA,4-8am,Tue,June,170,-2,No